body {
    font-family: sans-serif;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
                  max-width: 800px;
                  margin: 0 auto;
                  color: #2e662e;
                  font-family: sans-serif;
                  padding-top: 60;
                  padding-right: 20;
                  padding-left: 20px;
          }   